section
	+r(576)
		padding: 30px 0!important
.bg-wrapper
	background: url("../img/main-bg.png") top center no-repeat
	background-size: cover
.bg-wrapper_second
	background: url("../img/main-bg-two.png") top center no-repeat
	background-size: cover
.title
	text-align: center
	color: $white
	font-family: $default-font
	margin-bottom: 85px
	+r(768)
		margin-bottom: 50px
	+r(576)
		margin-bottom: 30px
	&__wrapper
		position: relative
		display: inline-block
		&::after
			content: ''
			width: 70px
			height: 12px
			background: $denim
			position: absolute
			right: -18px
			bottom: 12px
			z-index: 1
	h1, h3
		line-height: 1em
	h1
		font-weight: 700
		font-size: 65px
		display: inline-block
		position: relative
		z-index: 2
		margin-bottom: 10px
		+r(768)
			font-size: 48px
			margin-bottom: 5px
		+r(576)
			font-size: 36px
	h2
		font-family: $help-bold
		font-weight: 700
		font-size: 42px
		color: $nero
		line-height: 1em
		z-index: 2
		position: relative
		+r(768)
			font-size: 36px
		+r(576)
			font-size: 28px
	.h2__wrapper
		display: inline-block
		position: relative
		&::after
			content: ''
			width: 70px
			height: 10px
			background: $denim
			opacity: 0.5
			position: absolute
			right: -18px
			bottom: 0
			z-index: 1
	h3
		font-weight: 100
		font-size: 50px
		+r(768)
			font-size: 48px
		+r(576)
			font-size: 36px
	&__benefits
		margin-bottom: 45px
	&__services
		margin-bottom: 40px
	&__left
		text-align: left
		margin-bottom: 20px
	&__partners
		margin-bottom: 60px
.info-block
	display: flex
	flex-direction: column
	align-items: center
	text-align: center
	width: 17%
	+r(992)
		width: 50%
		margin-bottom: 20px
	+r(480)
		width: 100%
	.icon
		fill: $white
		font-size: 50px
		margin-bottom: 15px
	.square
		width: 10px
		height: 10px
		background: $denim
		margin-bottom: 15px
		position: relative
		&::before
			content: ''
			position: absolute
			width: 100vw
			height: 1px
			left: 0
			top: 50%
			transform: translateY(-50%)
			background: $denim
	h4
		font-family: $help-bold
		font-weight: 700
		font-size: 20px
		color: $white
		line-height: 1.05em
		margin-bottom: 7px
	p
		font-family: $default-font
		font-weight: 400
		font-size: 15px
		color: $white
		line-height: 1.4em
	&__wrapper
		display: flex
		justify-content: space-around
		+r(992)
			flex-wrap: wrap
		+r(768)
			justify-content: center
		&_bg-white
			justify-content: space-between
			+r(992)
				flex-wrap: wrap
			.info-block
				width: 25%
				max-width: 240px
				position: relative
				+r(992)
					width: 50%
					margin-bottom: 25px
				+r(576)
					width: 100%
					margin-bottom: 15px
				&::before
					content: ''
					width: 30px
					height: 30px
					position: absolute
					border-radius: 50%
					background-color: $denim
					opacity: 0.5
				&:nth-child(odd)
					&::before
						right: 50%
						top: -10px
				&:nth-child(even)
					&::before
						left: 50%
						top: 30px
			h4, p
				color: $nero
			.icon
				fill: $denim
				position: relative
				margin-bottom: 25px
				font-size: 42px

.button
	font-family: $default-font
	font-weight: 700
	font-size: 14px
	color: $white
	background: linear-gradient(0deg, #1ca12a 0%, #37cf31 62%, #48eb36 100%)
	border-radius: 22.5px
	box-shadow: 0 15px 20px 0 rgba(43, 187, 46, 0.4), inset 0px -3px 0px 0px rgba(16, 123, 29, 0.5)
	padding: 14px 43px 16px
	transition: all .3s ease
	display: block
	max-height: 47px
	&:hover
		box-shadow: 0 15px 20px 0 rgba(43, 187, 46, 0.6), inset 0px -4px 0px 0px rgba(16, 123, 29, 0.5)
		transform: translateY(-1px)
	&:focus
		transform: translateY(1px)
		box-shadow: 0 15px 20px 0 rgba(43, 187, 46, 0.3), inset 0px -5px 0px 0px rgba(16, 123, 29, 0.5)
	&__block
		display: inline-block
		max-width: 200px
		padding: 13px 40px 15px
		+r(1200)
			max-width: none
			margin: 0 auto
	&__about-company
		padding: 15px 40px
		display: block
		+r(992)
			margin: 0 auto 30px
	&__we-have
		display: block
		+r(992)
			margin: 0 auto
	&_text
		display: block
.glitch
	color: white
	font-size: 65px
	position: relative
	margin: 0 auto
	+r(768)
		font-size: 48px
	+r(576)
		font-size: 36px
	&:after
		content: attr(data-text)
		position: absolute
		left: 1px
		text-shadow: -1px 0 red
		top: 0
		color: white
		background: transparent
		overflow: hidden
		width: 100%
		clip: rect(0,900px,0,0)
		animation: noise-anim 2s infinite linear alternate-reverse
	&:before
		content: attr(data-text)
		position: absolute
		left: -1px
		text-shadow: 1px 0 $denim
		top: 0
		color: white
		width: 100%
		background: transparent
		overflow: hidden
		clip: rect(0,900px,0,0)
		animation: noise-anim-2 3s infinite linear alternate-reverse
	@keyframes noise-anim
		$steps: 20
		@for $i from 0 through $steps
			#{percentage($i*(1/$steps))}
				clip: rect(random(100)+px,9999px,random(100)+px,0)
	@keyframes noise-anim-2
		$steps: 20
		@for $i from 0 through $steps
			#{percentage($i*(1/$steps))}
				clip: rect(random(100)+px,9999px,random(100)+px,0)

.block
	padding: 28px 55px 45px 30px
	+r(576)
		padding: 28px 25px 30px 25px
	&__info
		width: 100%
		max-width: 32%
		border-radius: 5px
		height: auto
		background-color: $white
		box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1)
		margin-bottom: 30px
		position: relative
		+r(1200)
			height: 100%
		+r(992)
			max-width: 48%
		+r(768)
			max-width: 100%
		&:hover
			.block__hover
				opacity: 1
				z-index: 10
		&::before
			content: ''
			width: 30px
			height: 30px
			position: absolute
			border-radius: 50%
			background-color: $alizarin
			left: 59px
			color: $white
			top: 14px
			text-align: center
			padding-top: 3px
			font-family: $default-font
			font-weight: 700
			font-size: 16px
		&:nth-child(1)
			&::before
				content: '01'
		&:nth-child(2)
			&::before
				content: '02'
		&:nth-child(3)
			&::before
				content: '03'
		&:nth-child(4)
			&::before
				content: '04'
		&:nth-child(5)
			&::before
				content: '05'
		&:nth-child(6)
			&::before
				content: '06'
	&__hover
		padding: 28px 25px 30px 30px
		position: absolute
		opacity: 0
		top: 99%
		width: 100%
		border-radius: 5px
		background-color: $alabaster
		box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1)
		margin-bottom: 30px
		transition: all .8s ease
		z-index: -1
		display: flex
		flex-direction: column
		justify-content: space-between
		+r(1200)
			display: flex
			position: relative
			opacity: 1
			z-index: 10
			top: 0
			margin-bottom: 0
		&::before
			content: ''
			width: 137px
			height: 1px
			top: 0
			left: 30px
			position: absolute
			background: $denim
		h5
			font-size: 20px
			margin-bottom: 15px
		ul
			justify-content: space-between
			margin-bottom: 20px
			li
				padding-left: 25px
				margin-bottom: 8px
				display: flex
				justify-content: space-between
				position: relative
				line-height: 1em
				&::before
					content: ''
					width: 15px
					height: 2px
					left: 0
					position: absolute
					background: $denim
					top: 50%
					transform: translateY(-50%)
				.block__hover_title
					font-family: $default-font
					font-weight: 400
					font-size: 14px
					color: $nero
					max-width: 180px
					+r(1200)
						max-width: 160px
					+r(480)
						max-width: 120px
				.block__hover_price
					font-family: $default-font
					font-weight: 700
					font-size: 14px
					color: $denim
					.price
						font-size: 16px
						color: $nero
						&__text-upper
							font-size: 12px
							text-transform: uppercase
							color: $nero

		p
			display: flex
			justify-content: space-between
			line-height: 1em
			margin-bottom: 15px
			&:last-of-type
				margin-bottom: 30px
			span
				font-family: $help-bold
				font-weight: 700
				font-size: 16px
				color: $nero
				display: inline-block
				&:nth-of-type(1)
					&::before
						content: '*'
						color: $denim
	&__wrapper
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		+r(992)
			flex-wrap: wrap
	.icon
		fill: $denim
		font-size: 50px
		margin-bottom: 15px
	h4
		font-family: $help-bold
		font-weight: 700
		font-size: 20px
		color: $nero
		line-height: 1.05em
		margin-bottom: 7px
	p
		font-family: $default-font
		font-weight: 400
		font-size: 15px
		color: $nero
		line-height: 1.4em
	&__steps
		padding: 40px 15px 35px
		text-align: center
		width: 100%
		height: auto
		max-width: 23%
		border-radius: 5px
		margin-bottom: 30px
		position: relative
		background: #000
		+r(992)
			max-width: 33%
		+r(768)
			max-width: 46%
		+r(480)
			max-width: 100%
		h4, p
			color: $white
		.icon
			fill: $white
		&::before
			content: ''
			width: 30px
			height: 30px
			position: absolute
			border-radius: 50%
			background-color: $alizarin
			left: 50%
			color: $white
			top: 30px
			text-align: center
			padding-top: 3px
			font-family: $default-font
			font-weight: 700
			font-size: 16px
		&:nth-child(1)
			background: url("../img/step-1.jpg")
			background-size: cover
			&::before
				content: '01'
		&:nth-child(2)
			background: url("../img/step-2.jpg")
			background-size: cover
			&::before
				content: '02'
		&:nth-child(3)
			background: url("../img/step-3.jpg")
			background-size: cover
			&::before
				content: '03'
		&:nth-child(4)
			background: url("../img/step-4.jpg")
			background-size: cover
			&::before
				content: '04'
		&:nth-child(5)
			background: url("../img/step-5.jpg")
			background-size: cover
			&::before
				content: '05'
		&:nth-child(6)
			background: url("../img/step-6.jpg")
			background-size: cover
			&::before
				content: '06'
		&:nth-child(7)
			background: url("../img/step-7.jpg")
			background-size: cover
			&::before
				content: '07'
		&:nth-child(8)
			background: url("../img/step-8.jpg")
			background-size: cover
			&::before
				content: '08'
.parallax
	position: absolute
	+r(1200)
		display: none
.parallax-one
	right: 5%
	top: 0
	+r(1600)
		right: 0
	+r(1400)
		right: -3%
.parallax-two
	left: 3%
	top: 0
	+r(1600)
		left: 0
.parallax-three
	right: 5%
	left: auto
	+r(1600)
		right: 0
.parallax-four
	left: 5%
	top: 0
	+r(1600)
		left: 0
	+r(1400)
		left: -4%
.parallax-five
	right: 12%
	top: 0
	z-index: -1
	+r(1600)
		right: 0
.parallax-six
	left: 3%
	+r(1600)
		left: 0
.parallax-seven
	right:  5%
	bottom: 0
	+r(1600)
		right: 0
