html, body
	font-family: $default-font
	font-weight: 400
	font-style: normal
	font-size: 16px
	line-height: 1.5em
	overflow-x: hidden
	position: relative
	min-width: 320px
	min-height: 5000px
*
	margin: 0
	padding: 0

ul
	margin: 0
	padding: 0
	list-style-type: none

a,
a:focus,
a:hover
	outline: none
	text-decoration: none
input[type="text"], input[type="tel"], textarea
	border: 1px solid $nobel
	color: $nobel
	border-radius: 22.5px
	line-height: 1.5em
	padding: 10px 20px
	box-shadow: none
	font-family: $default-font
	font-weight: 400
	width: 100%
	max-width: 200px
	background: transparent
	outline: none
	-webkit-appearance: none
	-moz-appearance: none
	&::placeholder
		color: $nobel
		font-size: 14px
		font-weight: 300
	&:focus:required:invalid
		color: $nobel
		border-color: red
		outline: none
		box-shadow: none
		-webkit-appearance: none
		font-size: 14px
	&:focus:required:valid
		border-color: $denim
		color: $nobel
		outline: none
		box-shadow: none
		-webkit-appearance: none
		font-size: 14px
	&:required:invalid
		color: $nobel
		border-color: $nobel
		outline: none
		box-shadow: none
		-webkit-appearance: none
		font-size: 14px
	&:required:valid
		outline: none
		box-shadow: none
		-webkit-appearance: none
		font-size: 14px
