---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
  <!--{% include "partials/_preloader.html" %}-->

	{% include "partials/_header.html" %}
  <main>
    <div class="bg-wrapper">
      {% include "partials/_benefits.html" %}
      {% include "partials/_services.html" %}
    </div>
    {% include "partials/_we-have.html" %}
    <div class="bg-wrapper_second">
      {% include "partials/_steps.html" %}
      {% include "partials/_about-company.html" %}
      {% include "partials/_partners.html" %}
      {% include "partials/_reviews.html" %}
    </div>
    {% include "partials/_map.html" %}
  </main>
  {% include "partials/_footer.html" %}
  {% include "partials/_modal.html" %}

{% endblock %}
