<section class="about-company" id="about-company">
  <div class="parallax parallax-four" data-paroller-factor="-0.5" data-paroller-type="foreground" data-paroller-direction="vertical">
    <img src="img/parallax-4.png" alt="">
  </div>
  <div class="parallax parallax-five" data-paroller-factor="-0.2" data-paroller-type="foreground" data-paroller-direction="vertical">
    <img src="img/parallax-5.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="title title__left">
          <div class="h2__wrapper">
            <h2>
              О компании
            </h2>
          </div>
        </div>
        <h3>
          Ремонт телевизоров
        </h3>
        <p>
          Команда “Компликс” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли сотни телевизоров различных марок и моделей.
        </p>
        <p>
          На сегодняшний день мы ремонтируем более сотни брендов телевизоров и список брендов неуклонно пополняется.
        </p>
        <p>
          Наши инженеры в 90% случаев ремонтируют телевизор в день обращения, в 10% особенно сложных случаев вопрос решается в течение недели.
        </p>
        <p>
          Если у вас есть вопросы, то оставляйте заявку на сайте, наши специалисты по работе с клиентами свяжутся с вами в течение 15 минут. Если хотите обратиться вне очереди, звоните
        </p>
        <button class="button button__about-company modal-repair_open">
          Заказать ремонт
        </button>
      </div>
      <div class="col-lg-6">
        <div class="about-company__slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a data-fancybox="gallery" href="img/slider1.jpg">
                  <img src="img/slider1.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a data-fancybox="gallery" href="img/slider2.jpg">
                  <img src="img/slider2.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a data-fancybox="gallery" href="img/slider3.jpg">
                  <img src="img/slider3.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a data-fancybox="gallery" href="img/slider4.jpg">
                  <img src="img/slider4.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a data-fancybox="gallery" href="img/slider5.jpg">
                  <img src="img/slider5.jpg" alt="">
                </a>
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
