<section class="benefits" id="benefits">
  <div class="container">
    <div class="title title__benefits">
      <div class="h2__wrapper">
        <h2>
          Преимущества
        </h2>
      </div>
    </div>
    <div class="info-block__wrapper info-block__wrapper_bg-white">
      <div class="info-block">
        {{mixins.icon('carpenter')}}
        <h4>
          Качество
        </h4>
        <p>
          Качественно и с гарантией
          отремонтируем Ваш телевизор
        </p>
      </div>
      <div class="info-block">
        {{mixins.icon('like')}}
        <h4>
          Доброжелательность
        </h4>
        <p>
          Внимательно изучаем
          каждую проблему
        </p>
      </div>
      <div class="info-block">
        {{mixins.icon('pen')}}
        <h4>
          Професионализм
        </h4>
        <p>
          Качество каждой услуги
          гарантируем письменно
        </p>
      </div>
      <div class="info-block">
        {{mixins.icon('support')}}
        <h4>
          Лояльность
        </h4>
        <p>
          С нами всегда можно
          договориться
        </p>
      </div>
    </div>
  </div>
  <div class="parallax parallax-one" data-paroller-factor="-0.3" data-paroller-type="foreground" data-paroller-direction="vertical">
    <img src="img/parallax.png" alt="">
  </div>
</section>
