<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="header__nav">
        <div class="logo">
          <a href="#">
            <img src="img/logo.png" alt="">
          </a>
        </div>
        <nav class="nav">
          <ul>
            <li>
              <a href="#">
                Преимущества
              </a>
            </li>
            <li>
              <a href="#">
                Услуги
              </a>
            </li>
            <li>
              <a href="#">
                Шаги ремонта
              </a>
            </li>
            <li>
              <a href="#">
                О компании
              </a>
            </li>
            <li>
              <a href="#">
                Отзывы
              </a>
            </li>
            <li>
              <a href="#">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
        <div class="callback__wrapper">
          <div class="callback">
            <a href="tel:+74951270291" class="callback__icon">
              {{mixins.icon('phone')}}
            </a>
            <div class="callback__tel">
              <a href="tel:74951270291">
                +7 (495) 127-02-91
              </a>
              <a href="#" class="callback__modal">
                Заказать звонок
              </a>

            </div>
          </div>
          <div class="callback__mail">
            <a href="mailto:info@komplix.ru" class="callback__icon">
              {{mixins.icon('mail')}}
            </a>
            <div class="callback__mail_send">
              <a href="mailto:info@komplix.ru">
                info@komplix.ru
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <p>© «Компликс™» 2018</p>
  </div>
</footer>

