<header class="header">
  <div class="header__efect">
    <img src="img/efect.png" alt="">
  </div>
  <div class="header__nav_wrapper">
    <div class="container">
      <div class="header__nav">
        <div class="logo">
          <a href="#">
            <img src="img/logo.png" alt="">
          </a>
        </div>
        <div class="nav__btn">
          <div class="bar"></div>
        </div>
        <nav class="nav nav_top">
          <div class="ul__wrapper">
            <ul>
              <li>
                <a href="#benefits">
                  Преимущества
                </a>
              </li>
              <li>
                <a href="#services">
                  Услуги
                </a>
              </li>
              <li>
                <a href="#steps">
                  Шаги ремонта
                </a>
              </li>
              <li>
                <a href="#about-company">
                  О компании
                </a>
              </li>
              <li>
                <a href="#reviews">
                  Отзывы
                </a>
              </li>
              <li>
                <a href="#map__wrapper">
                  Контакты
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="menu">
          <button>
            Москва
          </button>
          <ul>
            <li>
              <a href="#">
                Москва
              </a>
            </li>
            <li>
              <a href="#">
                Щербинка
              </a>
            </li>
            <li>
              <a href="#">
                Знамя октября
              </a>
            </li>
            <li>
              <a href="#">
                Подольск
              </a>
            </li>
            <li>
              <a href="#">
                Чехов
              </a>
            </li>
            <li>
              <a href="#">
                Видное
              </a>
            </li>
            <li>
              <a href="#">
                Домодедово
              </a>
            </li>
            <li>
              <a href="#">
                Дзержинский
              </a>
            </li>
            <li>
              <a href="#">
                Котельники
              </a>
            </li>
            <li>
              <a href="#">
                Люберцы
              </a>
            </li>
            <li>
              <a href="#">
                Октябрьский
              </a>
            </li>
            <li>
              <a href="#">
                Томилино
              </a>
            </li>
            <li>
              <a href="#">
                Московский
              </a>
            </li>
            <li>
              <a href="#">
                Троицк
              </a>
            </li>
            <li>
              <a href="#">
                Одинцово
              </a>
            </li>
            <li>
              <a href="#">
                ВНИИССОК
              </a>
            </li>
          </ul>
        </div>
        <div class="callback">
          <a href="#" class="callback__icon modal-callback_open">
            {{mixins.icon('phone')}}
          </a>
          <div class="callback__tel">
            <a href="tel:84951337488">
              8 (495) 133-74-88
            </a>
            <a href="#" class="modal-callback_open">
              Заказать звонок
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header__main">
      <div class="title">
        <div class="title__wrapper">
          <h1>
            <span class="glitch" data-text="Ремонт телевизоров">Ремонт телевизоров</span>
          </h1>
        </div>
        <h3>
          <span class="glitch" data-text=" в Московской области"> в Московской области</span>
        </h3>
      </div>
      <div class="info-block__wrapper">
        <div class="info-block">
          {{mixins.icon('auto')}}
          <div class="square"></div>
          <h4>
            Выезд мастера
          </h4>
          <p>
            мастер выезжает в
            течение 30 минут
          </p>
        </div>
        <div class="info-block">
          {{mixins.icon('monitor')}}
          <div class="square"></div>
          <h4>
            Диагностика
          </h4>
          <p>
            проблем - бесплатно
          </p>
        </div>
        <div class="info-block">
          {{mixins.icon('repair')}}
          <div class="square"></div>
          <h4>
            Устранение
          </h4>
          <p>
            1-2 часа на устранение
            неисправностей
          </p>
        </div>
        <div class="info-block">
          {{mixins.icon('watch')}}
          <div class="square"></div>
          <h4>
            Просмотр
          </h4>
          <p>
            вы наслаждаетесь
            просмотром телевизора!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-absolute">
    <div class="title__wrapper">
      <h2>
        Заказать ремонт
      </h2>
    </div>
    <p>
      Заполните форму и менеджер свяжется с вами в течении 15 минут!
    </p>
    <form action="sendmail.php" class="form">
      <div class="label__wrapper">
        <input type="text" name="name" placeholder="Введите Ваше имя" required>
      </div>
      <div class="label__wrapper">
        <input type="tel" name="tel" placeholder="Введите Ваш телефон" required>
      </div>
      <button class="button">
        Заказать ремонт
      </button>
    </form>
  </div>
</header>
