<div class="map__wrapper" id="map__wrapper">
  <div id="map">
  </div>
  <div class="map__form">
    <h3>
      Заказать ремонт
    </h3>
    <p>
      Заполните форму и менеджер свяжется с
      вами в течении 15 минут!
    </p>
    <form action="sendmail.php" class="callback__form form">
      <div class="label__wrapper">
        <input type="text" name="name" placeholder="Введите Ваше имя" required>
      </div>
      <div class="label__wrapper">
        <input type="tel" name="tel" placeholder="Введите Ваш телефон" required>
      </div>
      <button class="button">
        Заказать ремонт
      </button>
    </form>
  </div>
</div>
