<div id="thanks" class="modal">
  <div class="container">
    <div class="modal__block_wrapper modal__thanks_wrapper">
      <div class="modal__block">
        <div class="thanks_close modal_close">
          {{mixins.icon('cancel')}}
        </div>
        <div class="modal__thanks">
          <h3>Спасибо за заказ</h3>
          <p>Скоро мы Вам перезвоним!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal-repair" class="modal">
  <div class="container">
    <div class="modal__block_wrapper">
      <div class="modal__block modal__block_info">
        <div class="modal-repair_close">
          {{mixins.icon('cancel')}}
        </div>
        <div class="modal__info">
          <h2>
            Политика конфиденциальности и
            обработки персональных данных
          </h2>
          <h4>
            1. ОСНОВНЫЕ ПОНЯТИЯ
          </h4>
          <p>
            Сайт – сайт, расположенный в сети Интернет по адресу: tv.vremont.ru.
          </p>
          <p>
            Администрация Сайта – Администрация Сервиса «Сервисный центр "В ремонт" (далее по тексту "Сервисный центр"
          </p>
          <p>
            Пользователь – физическое или юридическое лицо, разместившее свою персональную информацию посредством регистрации/пользования Сервисами на Сайте.
          </p>
          <p>
            Форма обратной связи – специальная форма, где Пользователь размещает свою персональную информацию с целью передачи данных Администрации Сайта.
          </p>
          <h4>
            2. ОБЩИЕ ПОЛОЖЕНИЯ
          </h4>
          <p>
            2.1. Настоящая Политика конфиденциальности является официальным типовым документом Администрации Сайта и определяет порядок обработки и защиты информации о физических и юридических лицах, использующих Форму обратной связи на Сайте.
          </p>
          <p>
            2.2. Целью настоящей Политики конфиденциальности является обеспечение надлежащей защиты информации о Пользователе, в т.ч. его персональных данных от несанкционированного доступа и разглашения.
          </p>
          <h4>
            1. ОСНОВНЫЕ ПОНЯТИЯ
          </h4>
          <p>
            Сайт – сайт, расположенный в сети Интернет по адресу: tv.vremont.ru.
          </p>
          <p>
            Администрация Сайта – Администрация Сервиса «Сервисный центр "В ремонт" (далее по тексту "Сервисный центр"
          </p>
          <p>
            Пользователь – физическое или юридическое лицо, разместившее свою персональную информацию посредством регистрации/пользования Сервисами на Сайте.
          </p>
          <p>
            Форма обратной связи – специальная форма, где Пользователь размещает свою персональную информацию с целью передачи данных Администрации Сайта.
          </p>
          <h4>
            2. ОБЩИЕ ПОЛОЖЕНИЯ
          </h4>
          <p>
            2.1. Настоящая Политика конфиденциальности является официальным типовым документом Администрации Сайта и определяет порядок обработки и защиты информации о физических и юридических лицах, использующих Форму обратной связи на Сайте.
          </p>
          <p>
            2.2. Целью настоящей Политики конфиденциальности является обеспечение надлежащей защиты информации о Пользователе, в т.ч. его персональных данных от несанкционированного доступа и разглашения.
          </p>
        </div>
      </div>
      <div class="modal__block modal__block_form">
        <div class="modal-repair_close">
          {{mixins.icon('cancel')}}
        </div>
        <div class="modal__form">
          <h3>Заказать ремонт</h3>
          <p>
            Заполните форму и менеджер свяжется с
            вами в течении 15 минут!
          </p>
          <form action="sendmail.php" method="get" class="form form-repair">
            <div class="label__wrapper">
              <label>
                <input type="text" name="name" placeholder="Введите Ваше имя" required>
              </label>
            </div>
            <div class="label__wrapper">
              <label>
                <input type="tel" name="tel" placeholder="Введите Ваш телефон" required>
              </label>
            </div>
            <button class="button">Заказать ремонт</button>
            <div class="label__wrapper">
              <input type="checkbox" value="agreeRepair" id="agreeRepair" name="agreeRepair" class="checkbox" checked required>
              <label for="agreeRepair" class="label__checkbox"> Нажимая на кнопку «Заказать звонок»,
                я соглашаюсь с <span>условиями</span> </label>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal-callback" class="modal">
  <div class="container">
    <div class="modal__block_wrapper">
      <div class="modal__block modal__block_info">
        <div class="modal-callback_close">
          {{mixins.icon('cancel')}}
        </div>
        <div class="modal__info">
          <h2>
            Политика конфиденциальности и
            обработки персональных данных
          </h2>
          <h4>
            1. ОСНОВНЫЕ ПОНЯТИЯ
          </h4>
          <p>
            Сайт – сайт, расположенный в сети Интернет по адресу: tv.vremont.ru.
          </p>
          <p>
            Администрация Сайта – Администрация Сервиса «Сервисный центр "В ремонт" (далее по тексту "Сервисный центр"
          </p>
          <p>
            Пользователь – физическое или юридическое лицо, разместившее свою персональную информацию посредством регистрации/пользования Сервисами на Сайте.
          </p>
          <p>
            Форма обратной связи – специальная форма, где Пользователь размещает свою персональную информацию с целью передачи данных Администрации Сайта.
          </p>
          <h4>
            2. ОБЩИЕ ПОЛОЖЕНИЯ
          </h4>
          <p>
            2.1. Настоящая Политика конфиденциальности является официальным типовым документом Администрации Сайта и определяет порядок обработки и защиты информации о физических и юридических лицах, использующих Форму обратной связи на Сайте.
          </p>
          <p>
            2.2. Целью настоящей Политики конфиденциальности является обеспечение надлежащей защиты информации о Пользователе, в т.ч. его персональных данных от несанкционированного доступа и разглашения.
          </p>
          <h4>
            1. ОСНОВНЫЕ ПОНЯТИЯ
          </h4>
          <p>
            Сайт – сайт, расположенный в сети Интернет по адресу: tv.vremont.ru.
          </p>
          <p>
            Администрация Сайта – Администрация Сервиса «Сервисный центр "В ремонт" (далее по тексту "Сервисный центр"
          </p>
          <p>
            Пользователь – физическое или юридическое лицо, разместившее свою персональную информацию посредством регистрации/пользования Сервисами на Сайте.
          </p>
          <p>
            Форма обратной связи – специальная форма, где Пользователь размещает свою персональную информацию с целью передачи данных Администрации Сайта.
          </p>
          <h4>
            2. ОБЩИЕ ПОЛОЖЕНИЯ
          </h4>
          <p>
            2.1. Настоящая Политика конфиденциальности является официальным типовым документом Администрации Сайта и определяет порядок обработки и защиты информации о физических и юридических лицах, использующих Форму обратной связи на Сайте.
          </p>
          <p>
            2.2. Целью настоящей Политики конфиденциальности является обеспечение надлежащей защиты информации о Пользователе, в т.ч. его персональных данных от несанкционированного доступа и разглашения.
          </p>
        </div>
      </div>
      <div class="modal__block modal__block_form">
        <div class="modal-callback_close">
          {{mixins.icon('cancel')}}
        </div>
        <div class="modal__form">
          <h3>Обратный звонок</h3>
          <p>
            Заполните форму и менеджер свяжется с
            вами в течении 15 минут!
          </p>
          <form action="sendmail.php" method="get" class="form form-callback">
            <div class="label__wrapper">
              <label>
                <input type="text" name="name" placeholder="Введите Ваше имя" required>
              </label>
            </div>
            <div class="label__wrapper">
              <label>
                <input type="tel" name="tel" placeholder="Введите Ваш телефон" required>
              </label>
            </div>
            <button class="button">Заказать звонок</button>
            <div class="label__wrapper">
              <input type="checkbox" value="agreeСallback" id="agreeСallback" name="agreeСallback" class="checkbox" checked required>
              <label for="agreeСallback" class="label__checkbox"> Нажимая на кнопку «Заказать звонок»,
                я соглашаюсь с <span>условиями</span> </label>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


