<section class="partners">
  <div class="parallax parallax-six" data-paroller-factor="0.2" data-paroller-type="foreground" data-paroller-direction="vertical">
    <img src="img/parallax-6.png" alt="">
  </div>
  <div class="container">
    <div class="title title__partners">
      <div class="h2__wrapper">
        <h2>
          Партнеры
        </h2>
      </div>
    </div>
    <div class="partners__slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="partners__img">
              <a href="http://philips.com" target="_blank">
                <img src="img/philips.png" alt="">
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="partners__img">
              <a href="http://sony.com" target="_blank">
                <img src="img/sony.png" alt="">
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="partners__img">
              <a href="http://samsung.com" target="_blank">
                <img src="img/samsung.png" alt="">
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="partners__img">
              <a href="http://lg.com" target="_blank">
                <img src="img/lg.png" alt="">
              </a>
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
