<section class="reviews" id="reviews">
  <div class="parallax parallax-seven" data-paroller-factor="-0.3" data-paroller-type="foreground" data-paroller-direction="vertical">
    <img src="img/parallax-7.png" alt="">
  </div>
  <div class="container">
    <div class="title">
      <div class="h2__wrapper">
        <h2>
          Отзывы
        </h2>
      </div>
    </div>
    <div class="reviews__wrapper">
      <div class="reviews__numbers">
        <div class="reviews__number">
          <strong>
            10
          </strong>
          <p>Реальных отзывов наших клиентов</p>
        </div>
        <div class="reviews__number">
          <strong>
            700+
          </strong>
          <p>
            Отремонтированых
            телевизоров
          </p>
        </div>
      </div>

      <div class="reviews__block">

        <div class="reviews__block_slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="reviews__block_wrapper">
                  <div class="reviews__img">
                    <a  href="img/reviaws-test.jpg" data-fancybox="reviews">
                      <img src="img/reviaws-test.jpg" alt="">
                    </a>
                  </div>
                  <div class="reviews__block_item">
                    <div class="reviews__block_text">
                        <h3>
                          Олександр Олегович
                        </h3>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                      </div>
                    <button class="button button_text">
                      Читать весь отзыв
                    </button>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="reviews__block_wrapper">
                  <div class="reviews__img">
                    <a  href="img/reviaws-test.jpg" data-fancybox="reviews">
                      <img src="img/reviaws-test.jpg" alt="">
                    </a>
                  </div>
                  <div class="reviews__block_item">
                    <div class="reviews__block_text">
                        <h3>
                          Олександр Олегович
                        </h3>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                      </div>
                    <button class="button button_text">
                      Читать весь отзыв
                    </button>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="reviews__block_wrapper">
                  <div class="reviews__img">
                    <a  href="img/reviaws-test.jpg" data-fancybox="reviews">
                      <img src="img/reviaws-test.jpg" alt="">
                    </a>
                  </div>
                  <div class="reviews__block_item">
                    <div class="reviews__block_text">
                        <h3>
                          Олександр Олегович
                        </h3>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                      </div>
                    <button class="button button_text">
                      Читать весь отзыв
                    </button>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="reviews__block_wrapper">
                  <div class="reviews__img">
                    <a  href="img/reviaws-test.jpg" data-fancybox="reviews">
                      <img src="img/reviaws-test.jpg" alt="">
                    </a>
                  </div>
                  <div class="reviews__block_item">
                    <div class="reviews__block_text">
                        <h3>
                          Олександр Олегович
                        </h3>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                        <p>
                          Команда “В ремонт!” имеет за плечами более 9 лет опыта в починке телевизоров. Через руки наших инженеров прошли тысячи телевизоров различных марок и моделей.
                        </p>
                      </div>
                    <button class="button button_text">
                      Читать весь отзыв
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
