<section class="services" id="services">
  <div class="parallax parallax-two" data-paroller-factor="0.5" data-paroller-type="foreground" data-paroller-direction="vertical">
    <img src="img/parallax-2.png" alt="">
  </div>

  <div class="container">
    <div class="title title__services">
      <div class="h2__wrapper">
        <h2>
          Услуги и цены
        </h2>
      </div>
    </div>
    <div class="block__wrapper">
      <div class="block__info">
        <div class="block">
          {{mixins.icon('monitor2')}}
          <h4>
            Не включается
          </h4>
          <p>
            Проблема может быть в блоке питания; транзисторах; микросхеме.
          </p>

        </div>
        <div class="block__hover">
          <h5>
            Как решаем проблему:
          </h5>
          <ul>
            <li>
              <span class="block__hover_title">Ремонт блока развертки</span>
              <span class="block__hover_price">от <span class="price">900</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
            <li>
              <span class="block__hover_title">Ремонт блока питания</span>
              <span class="block__hover_price">от <span class="price">1000</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
            <li>
              <span class="block__hover_title">Замена транзисторов</span>
              <span class="block__hover_price">от <span class="price">500</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
          </ul>
          <p>
            <span>
              Выезд мастера
            </span>
            <span>
              Бесплатно
            </span>
          </p>
          <p>
            <span>
              Диагностика
            </span>
            <span>
              Бесплатно
            </span>
          </p>
          <button class="button button__block modal-repair_open">
            Заказать ремонт
          </button>
        </div>
      </div>
      <div class="block__info">
        <div class="block">
          {{mixins.icon('monitor3')}}
          <h4>
            Полосы на экране
          </h4>
          <p>
            Проблема может быть в: дешифраторе; драйверах матрицы; шлейфе, TCON; конденсаторах
          </p>

        </div>
        <div class="block__hover">
          <h5>
            Как решаем проблему:
          </h5>
          <ul>
            <li>
              <span class="block__hover_title">Ремонт драйвера матрицы</span>
              <span class="block__hover_price">от <span class="price">1500</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
            <li>
              <span class="block__hover_title">Восстановление драйвера матрицы</span>
              <span class="block__hover_price">от <span class="price">2500</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
            <li>
              <span class="block__hover_title"> Восстановление TCON</span>
              <span class="block__hover_price">от <span class="price">1500</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
          </ul>
          <p>
            <span>
              Выезд мастера
            </span>
            <span>
              Бесплатно
            </span>
          </p>
          <p>
            <span>
              Диагностика
            </span>
            <span>
              Бесплатно
            </span>
          </p>
          <button class="button button__block modal-repair_open">
            Заказать ремонт
          </button>
        </div>
      </div>
      <div class="block__info">
        <div class="block">
          {{mixins.icon('monitor4')}}
          <h4>
            Помехи и шумы
          </h4>
          <p>
            Проблема может быть в: настройке каналов; дефекте микросхемы; тюнере; скачках напряжения.
          </p>

        </div>
        <div class="block__hover">
          <h5>
            Как решаем проблему:
          </h5>
          <ul>
            <li>
              <span class="block__hover_title">Ремонт гнезда антенны</span>
              <span class="block__hover_price">от <span class="price">500</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
            <li>
              <span class="block__hover_title">Ремонт ТВ тюнера</span>
              <span class="block__hover_price">от <span class="price">1000</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
            <li>
              <span class="block__hover_title">Восстановление микросхем</span>
              <span class="block__hover_price">от <span class="price">1000</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
          </ul>
          <p>
            <span>
              Выезд мастера
            </span>
            <span>
              Бесплатно
            </span>
          </p>
          <p>
            <span>
              Диагностика
            </span>
            <span>
              Бесплатно
            </span>
          </p>
          <button class="button button__block modal-repair_open">
            Заказать ремонт
          </button>
        </div>
      </div>
      <div class="block__info">
        <div class="block">
          {{mixins.icon('monitor5')}}
          <h4>
            Нет изображения
          </h4>
          <p>
            Проблема может быть в: подсветке экрана; транзисторах; блоке питания.
          </p>

        </div>
        <div class="block__hover">
          <h5>
            Как решаем проблему:
          </h5>
          <ul>
            <li>
              <span class="block__hover_title"> Ремонт подсветки экрана</span>
              <span class="block__hover_price">от <span class="price">1000</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
            <li>
              <span class="block__hover_title"> Ремонт TCON</span>
              <span class="block__hover_price">от <span class="price">1500</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
            <li>
              <span class="block__hover_title">Ремонт блока питания</span>
              <span class="block__hover_price">от <span class="price">1000</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
          </ul>
          <p>
            <span>
              Выезд мастера
            </span>
            <span>
              Бесплатно
            </span>
          </p>
          <p>
            <span>
              Диагностика
            </span>
            <span>
              Бесплатно
            </span>
          </p>
          <button class="button button__block modal-repair_open">
            Заказать ремонт
          </button>
        </div>
      </div>
      <div class="block__info">
        <div class="block">
          {{mixins.icon('monitor6')}}
          <h4>
            Не реагирует на пульт
          </h4>
          <p>
            Проблема может быть в: неисправности инфракрасного приемника; самом пульте; программном обеспечении; материнской плате
          </p>

        </div>
        <div class="block__hover">
          <h5>
            Как решаем проблему:
          </h5>
          <ul>
            <li>
              <span class="block__hover_title">Ремонт инфракрасного порта</span>
              <span class="block__hover_price">от <span class="price">1000</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
            <li>
              <span class="block__hover_title">Ремонт пульта</span>
              <span class="block__hover_price">от <span class="price">500</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
            <li>
              <span class="block__hover_title">Ремонт материнской платы</span>
              <span class="block__hover_price">от <span class="price">1500</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
          </ul>
          <p>
            <span>
              Выезд мастера
            </span>
            <span>
              Бесплатно
            </span>
          </p>
          <p>
            <span>
              Диагностика
            </span>
            <span>
              Бесплатно
            </span>
          </p>
          <button class="button button__block modal-repair_open">
            Заказать ремонт
          </button>
        </div>
      </div>
      <div class="block__info">
        <div class="block">
          {{mixins.icon('monitor7')}}
          <h4>
            Нет звука
          </h4>
          <p>
            Проблема может быть в: аудиокодеке; динамике; процессоре.
          </p>

        </div>
        <div class="block__hover">
          <h5>
            Как решаем проблему:
          </h5>
          <ul>
            <li>
              <span class="block__hover_title">Ремонт колонок</span>
              <span class="block__hover_price">от <span class="price">500</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
            <li>
              <span class="block__hover_title">Ремонт процессора</span>
              <span class="block__hover_price">от <span class="price">2500</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
            <li>
              <span class="block__hover_title">Ремонт аудиокодека</span>
              <span class="block__hover_price">от <span class="price">500</span> <span class="price__text-upper">РУБ.</span></span>
            </li>
          </ul>
          <p>
            <span>
              Выезд мастера
            </span>
            <span>
              Бесплатно
            </span>
          </p>
          <p>
            <span>
              Диагностика
            </span>
            <span>
              Бесплатно
            </span>
          </p>
          <button class="button button__block modal-repair_open">
            Заказать ремонт
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
