<section class="steps" id="steps">
  <div class="container">
    <div class="title">
      <div class="h2__wrapper">
        <h2>Шаги вашего ремонта</h2>
      </div>
    </div>
    <div class="block__wrapper">
      <div class="block block__steps">
        {{mixins.icon('monitor3')}}
        <h4>
          Сбор информации
        </h4>
        <p>
          Адрес, время приема на дому,
          контактные данные
        </p>
      </div>
      <div class="block block__steps">
        {{mixins.icon('monitor3')}}
        <h4>
          Диагностика
        </h4>
        <p>
          Выезд и диагностика
          устройства
        </p>
      </div>
      <div class="block block__steps">
        {{mixins.icon('monitor3')}}
        <h4>
          Ремонт на дому
        </h4>
        <p>
          Если такой возможен
        </p>
      </div>
      <div class="block block__steps">
        {{mixins.icon('monitor3')}}
        <h4>
          Ремонт в СЦ
        </h4>
        <p>
          Забираем технику в Сервис
          если ремонт на дому невозможен
        </p>
      </div>
      <div class="block block__steps">
        {{mixins.icon('monitor3')}}
        <h4>
          Ремонт техники
        </h4>
        <p>
          Мы беремся за выполнение задач
          любой сложности
        </p>
      </div>
      <div class="block block__steps">
        {{mixins.icon('monitor3')}}
        <h4>
          Проверка
        </h4>
        <p>
          Проверка работоспособности
          после ремонта
        </p>
      </div>
      <div class="block block__steps">
        {{mixins.icon('monitor3')}}
        <h4>
          Доставка к клиенту
        </h4>
        <p>
          Бесплатно забираем и
          доставляем клиенту
        </p>
      </div>
      <div class="block block__steps">
        {{mixins.icon('monitor3')}}
        <h4>
          Гарантия
        </h4>
        <p>
          Предоставляем гарантию
          на результат ремонта
        </p>
      </div>
    </div>
  </div>
</section>
