<div class="we-have">
  <div class="parallax parallax-three" data-paroller-factor="-0.1" data-paroller-type="foreground" data-paroller-direction="vertical">
    <img src="img/parallax-3.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="we-have__img">
          <img src="img/tv.png" alt="">
        </div>
      </div>
      <div class="col-lg-5">
        <div class="we-have__info">
          <div class="title title__white">
            <div class="h2__wrapper">
              <h2>
                У нас реальные
              </h2>
            </div>
            <h4>
              цены и гарантии
            </h4>
          </div>
          <p>
            При заключении договора на ремонт,
            в ином случае стоимость выезда и диагностики
            оплачивается в размере 700 руб.
          </p>
          <button class="button button__we-have modal-repair_open">
            Заказать ремонт
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
