{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#fff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <link rel="stylesheet" media="all" href="css/app.css"/>

    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9pumcofHA1XO-13Dz9bM_Y9kVfJfTKdc"></script>
    <script src="js/app.js"></script>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 55.5463035, lng: 37.6089504},
          zoom: 15,
          zoomControl: true,
          zoomControlOptions: {
            position: google.maps.ControlPosition.RIGHT_CENTER
          },
          mapTypeControl: false,
          streetViewControl: false,
          fullscreenControl: false,
          styles:
            [
              {
                "featureType": "administrative.country",
                "elementType": "geometry",
                "stylers": [
                  {
                    "visibility": "simplified"
                  },
                  {
                    "hue": "#ff0000"
                  }
                ]
              }
            ]
        });
        var marker = new google.maps.Marker({
          position: {lat: 55.5452832, lng: 37.5940592},
          map: map,
          title:"МО, Ленинский район\n" +
            "ЖК Бутово парк, дом 23, корп. 1"
        });
        marker.setMap(map);
        var InfoWindow = new google.maps.InfoWindow({
          content: '<div class="map__info"> <span>МО</span>, Ленинский район <br>\n' +
            'ЖК Бутово парк, дом 23, корп. 1</div>'
        });
        InfoWindow.open(map, marker)
      }

      initMap();
    </script>
    <script></script>
    <!-- END scripts -->

  </body>
</html>
