.icon-auto {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cancel {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-carpenter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-like {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-monitor {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-monitor2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-monitor3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-monitor4 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-monitor5 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-monitor6 {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.icon-monitor7 {
  width: 1.38em;
  height: 1em;
  fill: initial;
}
.icon-pen {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-repair {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-support {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-watch {
  width: 1em;
  height: 1em;
  fill: initial;
}
