.about-company
	position: relative
	padding: 85px 0
	+r(768)
		padding: 50px 0
	+r(576)
		margin-bottom: 30px
	h3, p
		color: $nero
	h3
		font-family: $help-bold
		font-weight: 700
		font-size: 20px
		margin-bottom: 10px
	p
		font-family: $default-font
		font-weight: 400
		font-size: 15px
		line-height: 1.4em
		margin-bottom: 10px
		padding-right: 30px
		&:last-of-type
			margin-bottom: 40px
	&__slider
		position: relative
		.swiper-wrapper
			margin-bottom: 95px
		.swiper-pagination-fraction
			width: 15%
			font-size: 14px
			font-family: $default-font
			font-weight: 700
			color: $silver
			+r(360)
				width: 30%
			.swiper-pagination-current,
			.blue-swiper
				color: $denim
				font-size: 16px


		.swiper-button-next,
		.swiper-button-prev
			top: 86%
		.swiper-button-prev
			background-image: url('../img/left-arrow-gray.svg')
			z-index: 1
			&:hover
				background-image: url('../img/left-arrow-blue.svg')
		.swiper-button-next
			background-image: url('../img/right-arrow-gray.svg')
			z-index: 1
			left: 50px
			&:hover
				background-image: url('../img/right-arrow-blue.svg')
		&::before
			content: ''
			width: 270px
			height: 170px
			position: absolute
			background: $wild-sand
			left: -30px
			bottom: 0px
		img
			object-fit: cover
			width: 100%
			max-width: 570px
			height: 310px
