.footer
	position: relative
	background: #111111
	+r(768)
		.header__nav
			justify-content: center
			flex-direction: column
			.logo
				padding: 10px 0
			.callback__tel
				display: block
				padding: 10px
				a
					&:nth-child(2)
						display: none
	&__wrapper
		padding: 20px 0 25px
		+r(768)
			padding: 0
	.callback__wrapper
		+r(768)
			display: block
		.callback
			+r(768)
				position: relative
				top: 0
				transform: translateY(0)
		.callback__mail
			a
				.icon
					fill: $denim
					margin-right: 15px
					margin-left: 5px
			&_send
				display: inline-block
				a
					color: $white
					&:hover
						text-decoration: underline
			+r(768)
				display: none
	&__copyright
		text-align: center
		padding: 15px 0
		border-top: 1px solid #292929
		p
			color: #454545
			font-family: $second-font
			font-weight: 400
			font-size: 14px
