.header
	background: url('../img/bg-header.jpg') no-repeat
	background-size: cover
	background-position: 0 0
	position: relative
	min-height: 700px
	&__efect
		position: absolute
		opacity: 0
		left: 0
		top: 0
		right: 0
		bottom: 0
		animation: tv-efect 5s infinite linear
		@keyframes tv-efect
			0%
				transform: translateX(1px)
				opacity: 0.1
				filter: hue-rotate(0deg)
			2%
				transform: translateX(3px)
				opacity: 0.05
			3%
				transform: translateX(-3px)
			6%
				transform: translateX(-1px)
				opacity: 0.1
			8%
				transform: translateX(0)
			10%
				transform: translateX(0) translateY(5px)
				opacity: 0.15
			11%
				transform: translateX(0) translateY(-1px)
				opacity: 0.05
			14%
				transform: translateX(0px)
			16%
				transform: translateX(-1px)
			18%
				transform: translateX(1px)
			20%
				transform: translateX(0px) translateX(1px)
				opacity: 0.1
			42%
				transform: translateX(1px)
				opacity: 0.15
			44%
				transform: translateX(0)
				opacity: 0.05
			46%
				transform: translateX(-1px)
			48%
				transform: translateX(-6px)
				opacity: 0.1
			49%
				transform: translateX(0)
			52%
				transform: translateX(0) translateY(-5px)
				opacity: 0.15
			53%
				transform: translateX(0) translateY(-1px)
				opacity: 0.05
			56%
				transform: translateX(0px)
			58%
				transform: translateX(-1px)
			60%
				transform: translateX(1px)
			62%
				transform: translateX(0px) translateX(1px)
				opacity: 0
			90%
				transform: translateX(1px)
				opacity: 0.1
			92%
				transform: translateX(0)
				opacity: 0.15
			94%
				transform: translateX(0)
			96%
				transform: translateX(0) translateY(5px)
				opacity: 0
			97%
				transform: translateX(0) translateY(-1px)
				opacity: 0.05
			100%
				transform: translateX(0px) translateX(1px)
				opacity: 0.1
				filter: hue-rotate(360deg)
	&__nav
		position: relative
		display: flex
		min-height: 85px
		align-items: center
		justify-content: space-between
		&_wrapper
			background: url("../img/nav-bg.png") center no-repeat
			border-bottom: 1px solid rgba(255, 255, 255, 0.1)
			background-size: cover
			position: fixed
			width: 100%
			left: 0
			right: 0
			top: 0
			z-index: 1000
			&.sticky
				background: rgba(33, 33, 33, 0.95);
		.nav
			position: relative
			ul
				display: flex
				max-width: 325px
				flex-wrap: wrap
				justify-content: space-around
				a
					position: relative
					display: block
					font-family: $second-font
					font-weight: 400
					font-size: 14px
					color: $white
					letter-spacing: 0.085em
					&::before
						content: ''
						position: absolute
						transform: scale(0)
						transition: all .3s
						bottom: 0
						width: 100%
						height: 2px
						background: $denim
					&:hover, &:focus
						&::before
							transform: scale(1)
				+r(768)
					display: none
			&_top
				&.active
					+r(768)
						ul
							display: flex
							justify-content: flex-start
							flex-direction: column
							align-items: center
							position: fixed
							background: rgba(33, 33, 33, .95)
							top: 86px
							right: 0
							bottom: 0
							width: 100vw
							height: 100%
							li
								&:not(&:last-child)
									margin-bottom: 15px
								&:first-child
									margin-top: 30px

		.nav__btn
			z-index: 1000
			display: none
			width: 26px
			min-height: 26px
			top: 50%
			transform: translateY(-50%)
			left: auto
			right: 13%
			position: absolute
			+r(768)
				display: block
				&.active
					transition: all .3s
					.bar
						transition: all .25s
						background-color: transparent
						&:before
							transition: all .25s
							transform: rotate(45deg)
							top: 0

						&:after
							top: 0
							transition: all .25s
							transform: rotate(-45deg)
			.bar
				position: absolute
				left: 0
				top: 50%
				transition: all .25s
				content: ""
				height: 3px
				width: 26px
				background-color: $white
				transform: translateY(-50%)
				&:before
					top: -8px
					transition: all .25s
					content: ""
					position: absolute
					right: 0
					height: 3px
					width: 26px
					background-color: $white
				&:after
					top: 8px
					transition: all .25s
					content: ""
					position: absolute
					right: 0
					height: 3px
					width: 26px
					background-color: $white
		.menu
			position: relative
			display: inline-block
			+r(992)
				display: none
			&:hover
				ul
					display: block
			button
				position: relative
				display: block
				font-family: $second-font
				font-weight: 400
				font-size: 14px
				color: $white
				padding: 10px 0
				letter-spacing: 0.085em
				background: transparent
				border: none
				&::before
					content: ''
					position: absolute
					transform: scale(1)
					transition: all .3s
					bottom: 8px
					width: 100%
					height: 2px
					background: $denim
				&:hover, &:focus
					&::before
						transform: scale(0)
					&::after
						border-color: $white
						transform: translateY(-30%) rotate(-45deg)
				&::after
					content: ''
					width: 10px
					height: 10px
					position: absolute
					border-left: 1px solid $denim
					border-bottom: 1px solid $denim
					transform: translateY(-40%) rotate(-45deg)
					transition: all .3s ease
					top: 40%
					right: -20px
			ul
				display: none
				position: absolute
				background-color: rgba(0, 0, 0, .7)
				min-width: 160px
				box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
				z-index: 1
				a
					color: $white
					padding: 4px 10px
					text-decoration: none
					font-size: 14px
					display: block
					&:hover
						background-color: rgba(17, 89, 210, 0.8)
		.callback
			position: relative
			display: flex
			align-items: center
			+r(768)
				position: absolute
				left: auto
				right: 0
				top: 50%
				transform: translateY(-50%)
			.icon-phone
				background-image: linear-gradient( -157deg, rgb(17,89,210) 0%, rgb(14,72,170) 62%, rgb(10,54,130) 100%);
				box-shadow: 0 5px 13px 0 rgba(17, 89, 210, 0.5)
				border-radius: 50%
				fill: $white
				font-size: 18px
				padding: 5px
				width: 25px
				height: 25px
				margin-right: 15px
				+r(768)
					margin-right: 0
				&:hover
					box-shadow: 0 10px 23px 0 rgba(17, 89, 210, 0.5)
			&__tel
				display: flex
				flex-direction: column
				text-align: right
				+r(768)
					display: none
				a
					font-family: $second-font
					font-weight: 700
					font-size: 18px
					color: $white
					transition: all .3s ease
					&:hover
						text-decoration: underline
					&:nth-child(2)
						text-decoration: underline
						font-family: $second-font
						font-weight: 400
						font-size: 14px
						color: $denim
						transition: all .3s ease
						&:hover
							text-decoration: none
	&__main
		position: relative
		padding-top: 170px
		+r(768)
			padding-top: 100px
	span
		display: inline-block
.form-absolute
	width: 100%
	max-width: 770px
	background: $white
	border-radius: 10px
	position: absolute
	left: 50%
	transform: translateX(-50%)
	padding: 28px 55px 38px
	text-align: center
	bottom: -110px
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05)
	z-index: 5
	+r(992)
		position: relative
		bottom: -30px
	+r(768)
		border-radius: 0
	.title__wrapper
		&::after
			height: 10px
			opacity: 0.5
			right: -20px
			bottom: 8px
	h2
		font-family: $default-font
		font-weight: 700
		font-size: 32px
		color: $nero
		line-height: 1em
		position: relative
		margin-bottom: 10px
		z-index: 10
	p
		font-family: $default-font
		font-weight: 400
		font-size: 14px
		color: $nero
		margin-bottom: 38px
		+r(768)
			margin-bottom: 15px
	.form
		display: flex
		justify-content: space-between
		+r(768)
			flex-wrap: wrap
			justify-content: center
			input
				margin: 0 15px 15px
		+r(576)
			flex-direction: column
		+r(480)
			input
				margin: 0 0 15px
