#map
	width: 100%
	height: 500px
	+r(768)
		height: 300px
	+r(576)
		height: 200px
.map
	&__info
		font-family: $second-font
		font-size: 15px
		color: $nero
		span
			font-weight: 600
	&__wrapper
		position: relative
	&__form
		display: block
		padding: 35px 25px
		text-align: center
		position: absolute
		left: 52.5%
		top: 70px
		background: $white
		border-radius: 10px
		box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25)
		width:  350px
		height:  360px
		+r(768)
			position: relative
			left: 0
			top: 0
			width: 100%
			height: auto
		h3
			font-family: $help-bold
			font-weight: 700
			font-size: 32px
			color: $nero
			line-height: 1em
			margin-bottom: 5px
		p
			font-family: $default-font
			font-weight: 400
			font-size: 14px
			line-height: 1.3em
			color: $nero
			margin-bottom: 25px
		input
			margin-bottom: 20px
			&:nth-child(2)
				margin-bottom: 35px
.callback__form
	display: flex
	flex-direction: column
	align-items: center
