.modal, .modal-callback, .modal-repair
	margin: 5% auto 0
	width: 100%
	&__block
		position: relative
		background: $white
		margin-right: 30px
		border-radius: 10px
		box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25)
		height: 100%
		+r(992)
			margin-right: 0
			width: 100%
		&_wrapper
			display: flex
			flex-direction: row
			justify-content: flex-start
			width: 100%
			max-width: 1080px
			+r(992)
				flex-direction: column
		&_info
			padding: 70px 20px 50px 55px
			max-width: 650px
			width: 100%
			max-height: 695px
			+r(992)
				padding: 50px 20px 30px 55px
				max-height: 250px
				margin-bottom: 30px
				max-width: 100%
				order: 2
			+r(576)
				padding: 40px 10px 15px 25px
		&_form
			padding: 50px
			max-width: 400px
			width: 100%
			+r(992)
				max-width: 100%
				margin-bottom: 30px
				order: 1
			+r(576)
				padding: 50px 30px 25px
	&__info
		overflow: auto
		max-height: 550px
		+r(992)
			max-height: 150px
		h2
			font-family: $default-font
			font-weight: 700
			font-size: 28px
			color: $nero
			margin-bottom: 15px
			line-height: 1.2em
			+r(768)
				font-size: 24px
			+r(576)
				font-size: 18px
		h4
			font-family: $default-font
			font-weight: 700
			font-size: 16px
			text-transform: uppercase
			color: $nero
			margin-bottom: 10px
			+r(576)
				font-size: 14px
		p
			font-family: $default-font
			font-weight: 400
			font-size: 14px
			line-height: 1.5em
			margin-bottom: 10px
			color: $charcoal
		.mCSB_draggerRail
			background: #cccccc
		.mCSB_dragger_bar
			background-color: $denim!important
			width: 2px!important
	&__form
		display: flex
		flex-direction: column
		justify-content: center
		text-align: center
		.form
			display: flex
			flex-direction: column
			justify-content: center
			.button
				display: inline-block
				margin: 0 auto 20px
		h3
			font-family: $default-font
			font-weight: 700
			font-size: 32px
			color: $nero
			line-height: 1em
			margin-bottom: 10px
		p
			font-family: $default-font
			font-weight: 300
			font-size: 14px
			color: $nero
			margin-bottom: 25px
			/* Add custom checbox */
		input
			margin-bottom: 20px
		input.checkbox
			position: absolute
			bottom: 0
			margin-bottom: 25px
			opacity: 0
		label.label__checkbox
			padding-left: 30px
			font-family: $default-font
			font-weight: 300
			font-size: 14px
			color: $charcoal
			line-height: 1em
			text-align: left
			position: relative
			cursor: pointer
			&::before
				content: ''
				position: absolute
				display: inline-block
				width: 15px
				height: 15px
				background: #000
				left: 0
				top: 3px
			&::after
				content: ''
				width: 9px
				height: 4px
				border-bottom: 1px solid $white
				border-left: 1px solid $white
				transform: rotate(-45deg)
				position: absolute
				left: 4px
				top: 6px
				opacity: 0
				transition: all .3s ease
		input[type="checkbox"]:checked ~ label.label__checkbox::after
			transition: all .3s ease
			opacity: 1
	&_close
		position: absolute
		right: 15px
		top: 15px
		width: 21px
		height: 21px
		border: 1px solid #cccccc
		border-radius: 50%
		display: block
		transition: all .3s ease
		&:hover
			border-color: $alizarin
			.icon
				transform: translate(-50%, -50%) rotate(180deg)
				fill: $alizarin
		.icon
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			font-size: 10px
			fill: #cccccc
			transition: all .3s ease
	&__thanks
		padding: 50px
		text-align: center
		margin: 0 auto
		&_wrapper
			display: flex
			justify-content: center
			width: 100%
			margin: 0 auto
		h3
			font-family: $default-font
			font-weight: 700
			font-size: 32px
			color: $nero
			line-height: 1em
			margin-bottom: 10px

.label__wrapper
	position: relative

label.error
	position: absolute
	left: 50%
	top: 0
	background: $alizarin
	z-index: 1
	transform: translateX(-50%) translateY(-20px)
	width: auto
	min-width: 80%
	line-height: 1em
	padding: 5px 10px
	color: $white
	border-radius: 4px
	font-size: 12px
label#agreeRepair-error, label#agreeСallback-error
	top: 0
	transform: translateX(-50%) translateY(-18px)
	min-width: 90%
