.partners
	position: relative
	padding-top: 80px
	padding-bottom: 150px
	+r(992)
		padding: 80px 0
	+r(768)
		padding: 50px 0
	&__img
		height: 80px
		position: relative
		border: 1px solid #f2f2f2
		margin-bottom: 30px
		transition: all .3s ease
		&:hover
			a
				background: $white
				box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.05)
			img
				filter: grayscale(0)
				opacity: 1
		a
			background: transparent
			display: flex
			justify-content: center
			align-items: center
			width: 100%
			height: 100%
			transition: all .3s ease
		img
			max-height: 50px
			height: auto
			max-width: 190px
			width: auto
			transition: all .3s ease
			opacity: 0.5
			filter: grayscale(1)

