.reviews
	position: relative
	padding-top: 95px
	padding-bottom: 150px
	+r(992)
		padding: 85px 0
	+r(768)
		padding: 50px 0 30px
	.title
		margin-bottom: 60px
	&__wrapper
		display: flex
		position: relative
	&__img
		max-width: 330px
		width: 100%
		max-height: 425px
		height: auto
		background: url("../img/reviaws-border.jpg") no-repeat center top
		background-size: cover
		margin-left: 130px
		margin-right: 100px
		display: block
		position: absolute
		a
			display: block
		+r(1200)
			margin-left: 0
			margin-right: 60px
		+r(992)
			display: none
		img
			width: 271px
			height: auto
			padding: 30px 28px 25px 30px
	&__numbers
		display: flex
		position: absolute
		left: 48%
		+r(1200)
			left: 41%
		+r(992)
			left: 0
	&__number
		max-width: 160px
		margin-bottom: 50px
		&:nth-child(1)
			margin-right: 40px
		strong
			font-family: $default-font
			font-weight: 900
			font-size: 48px
			line-height: 1em
			color: rgb(204, 204, 204)
			text-shadow: 0 5px 20px rgba(17, 89, 210, 0.3)
			background: linear-gradient(36deg, #1159d2 0%, #0043b8 100%)
			-webkit-background-clip: text
			-webkit-text-fill-color: transparent
			display: inline-block
			margin-bottom: 15px
		p
			font-family: $default-font
			font-weight: 700
			font-size: 16px
			line-height: 1.3em
			color: $nero
	&__block
		position: relative
		width: 100%
		&_item
			margin-left: 550px
			+r(1200)
				margin-left: 380px
			+r(992)
				margin-left: 0
		&_wrapper
			display: flex
			width: 100%
			padding-bottom: 20px
		&_slider
			+r(500)
				margin-top: 30px
			h3, p
				max-width: 350px
			h3
				margin-bottom: 10px
				font-family: $help-bold
				font-weight: 700
				font-size: 21px
				color: $nero
				+r(576)
					margin-bottom: 30px
			p
				font-family: $default-font
				font-weight: 400
				font-size: 15px
				line-height: 1.4em
				+r(768)
					max-width: 100%
		&_text
			overflow: hidden
			margin-bottom: 60px
			margin-top: 150px
			+r(768)
				margin-bottom: 30px
				width: 100%
			+r(576)
				margin-bottom: 15px
		button
			margin-left: 5px
			margin-bottom:  30px
			position: relative
			+r(992)
				margin: 0 auto 30px
	.swiper-pagination-fraction
		width: 15%
		height: 20px
		font-size: 14px
		font-family: $default-font
		font-weight: 700
		color: $silver
		position: absolute
		top: 170px
		right: 100px
		left: auto
		+r(992)
			right: 15px
			top: 145px
		+r(768)
			right: 30px
		+r(576)
			width: 100%
			left: auto
			right: auto
			top: 120px
			bottom: 20px
		.swiper-pagination-current,
		.blue-swiper
			color: $denim
			font-size: 16px
	.swiper-button-next,
	.swiper-button-prev
		top: 155px
		+r(576)
			top: 130px
			z-index: 100
	.swiper-button-prev
		background-image: url('../img/left-arrow-gray.svg')
		z-index: 1
		left: auto
		right: 200px
		+r(992)
			right: 115px
		+r(576)
			right: auto
			left: 0
		&:hover
			background-image: url('../img/left-arrow-blue.svg')
	.swiper-button-next
		background-image: url('../img/right-arrow-gray.svg')
		z-index: 1
		left: auto
		right: 160px
		+r(992)
			right: 0
		+r(576)
			right: 0
			left: auto
		&:hover
			background-image: url('../img/right-arrow-blue.svg')

