.we-have
	background: url("../img/bg-block.jpg") center no-repeat
	background-size: cover
	.button
		padding: 15px 40px
	&__img
		position: relative
		top: -80px
		left: 20px
		img
			position: relative
			+r(768)
				width: 100%
				height: auto
		+r(992)
			top: 0
			left: 0
	&__info
		color: $white
		padding: 60px 30px 60px 70px
		+r(992)
			padding: 0 0 50px
		.title
			margin-bottom: 30px
			text-align: left
			h2
				color: $white
			h4
				font-family: $help-bold
				font-weight: 700
				font-size: 26px
		p
			margin-bottom: 20px
			font-family: $default-font
			font-weight: 400
			font-size: 16px
			line-height: 1.5em
			&::before
				content: '*'
				position: absolute
				transform: translateX(-10px)
